#qrcode {
  $qrcode_pixel_size: 8px;
  margin: 8px;
  table, tr, td {
    border: 0px none black;
    padding: 0px;
  }
  table {
    margin: 0px auto;
  }
  tr, td {
    margin: 0px;
  }
  td {
    width: $qrcode_pixel_size;
    height: $qrcode_pixel_size;
  }
  td.black { background-color: black; }
  td.white { background-color: white; }
}
#room_posts {
  .single_post {
    margin: 4px;
  }
  .datetime {
    color: lightgrey;
  }
}
